<% @body_id = 'home-page' %>
<% @full_page_width = true %>
<div class="top-area">
	<div class="container center-me">
		<h1>Sample and Support Small Batch Manufactorers</h1>
		<br>
		<h3>At Cup To Cup we have one mission.</h3>
		<p>Help small-batch manufactorers grow into medium and large batch manufactors. Lucky for all of us, that means getting amazingly decilious products into your hands, so you can try them. It is a win-win situation if we have ever heard of one.</p>
	</div>
</div>

